body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#idSVG1 {
  margin: 0;
  border-style: dashed;
  background-color: bisque;
}

@media (min-width: 320px) {
  #idSVG {
    /* smartphones, iPhone, portrait 480x320 phones */
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 481px) {
  #idSVG {
    width: 475px;
    height: 475px;
  }
}
@media (min-width: 641px) {
  #idSVG {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    width: 635px;
    height: 635px;
  }
}
@media (min-width: 961px) {
  #idSVG {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 950px;
    height: 950px;
  }
}
@media (min-width: 1025px) {
  #idSVG {
    /* big landscape tablets, laptops, and desktops */
    width: 1200px;
    height: 1200px;
  }
}
@media (min-width: 800px) {
  #idSVG {
    /* hi-res laptops and desktops */
    width: 90vw;
    height: 500px;
  }
}
#idSVG1 {
  /* hi-res laptops and desktops */
  width: 90vw;
  height: 600px;
}

.dim {
  position: absolute;
  top: 0;
}
