$hero_component_text-purple: rgba(67, 56, 202, 1);
$hero_component_text-purple-dark: rgba(79, 70, 229, 1);
$hero_component_text-black: rgba(17, 24, 39, 1);
$hero_component_text-white-100: rgba(229, 231, 235, 1);
$hero_component_text-title: rgba(249, 250, 251, 1);
