$pixelW: 500;
$pixelH: 500;

.containerSVG {

  margin: 10px auto;
  align-content: center;
  align-items: center;
  background-color: #008000;
}

.containerSVGParent {
  //  border: 4px solid grey;
  //width: 100vw;
  //height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
